<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap" rel="stylesheet">

    <!-- custom CSS styles -->
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/main.css') }}">

    <title>KWIZME</title>
</head>
<body>

<div class="container-fluid">
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a class="link-unstyled" href="#">Home</a></li>
    <li class="breadcrumb-item"><a href="#">Library</a></li>
    <li class="breadcrumb-item active" aria-current="page"><a href="#">Data</a></li>
  </ol>
</nav>
</div>


<div class="container">
	<h1>Hi, please add your text to generate your questions:</h1>
	<form action="qselect" method="POST" enctype="multipart/form-data">
		<input type="text" name="sometext">
		<input type="submit" name="btn">
	</form>
</div>


{#<div class="container">#}
{#	<form action="qselect" method="POST" enctype="multipart/form-data">#}
{#          <div class="form-group">#}
{#            <label for="exampleFormControlTextarea1">Enter your text:</label>#}
{#            <textarea class="form-control" id="sometext" rows="3"></textarea>#}
{#            <input type="submit" name="btn" class="btn btn-success">#}
{#          </div>#}
{#	</form>#}
{#</div>#}





  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
          integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
</body>
</html>