<!DOCTYPE html>
<html>
<head>
	<title>KWIZME</title>

    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/main.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap" rel="stylesheet">

</head>
<body>
<center>
	<h1>Hi, please add your text to generate your questions:</h1>

	<form action="qselect" method="POST" enctype="multipart/form-data">
		<input type="text" name="sometext">
		<input type="submit" name="btn">
	</form>
</center>
</body>
</html>